.article {
    padding: 30px;
    background: rgba(255,255,255,0.8);
    & h3, p {
        color: #000;
        padding: 20px 0;
    }    
    & p {
        text-align: justify;
        font-weight: normal;
        font-size: 20px;       
    }
    & a {
        color: rgb(109, 27, 185);
    }
}